@media (max-width: 768px){

    .hero-section{
        text-align:center;
    }

    .hero-section h1{
        font-size:40px;
    }

    .hero-img{
        margin-top:20px;
        width:100%;
        height:auto;
    }

    .navbar-brand{
        font-size:28px;
    }

    .btn-success{
        margin-top:10px;
    }

    .card{
        margin-bottom:20px;
    }

    .about-banner{
        padding:60px 20px;
        text-align:center;
    }

}